---
import Component from "../components/Component.astro";
import Experience from "../components/experience/index.astro";
import { EXPERIENCE } from "../data/experience";
import { SOCIALS } from "../data/socials";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hariom Gehlot">
  <div class="relative hero z-10">
    <div
      class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header
          class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
          >
            <img
              src="/avatar.jpg"
              alt="Hariom Gehlot"
              class="size-32 rounded-full object-cover"
            />
            <div>
              <a
                href="/"
                class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
              >
                <h1>Hariom Gehlot</h1>
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                Experienced Front-End Engineer
              </h2>

              <a
                data-ccursor
                href="mailto:hariomg530@gmail.com"
                class="inline-flex transition-all animate-pulse border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>Email me</span>
                <sapn
                  class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-bounce"
                >
                </sapn>
              </a>
            </div>
          </div>

          {
            SOCIALS.length && (
              <ul
                class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                aria-label="Social media"
              >
                {SOCIALS.map((social) => (
                  <li class="text-xs p-2 rounded" data-ccursor>
                    <a
                      class="block hover:text-slate-200"
                      href={social.url}
                      target="_blank"
                      rel="noreferrer noopener"
                      aria-label={`${social.name} (opens in a new tab)`}
                    >
                      <span class="sr-only">{social.name}</span>
                      {<Component component={social.icon} />}
                    </a>
                  </li>
                ))}
              </ul>
            )
          }
        </header>

        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                About
              </h2>
            </div>
            <div>
              <div class="mb-4 space-y-4">
                <p>
                  As a Software Engineer at Artivatic.ai, I develop and deploy
                  high quality micro front end applications using Angular,
                  Single-Spa, RxJS, and DevOps tools. I have 2.5+ years of
                  experience in this domain, and I am always looking for new
                  challenges and opportunities to learn and grow. I completed my
                  MCA degree from Medi-Caps University in March 2022, where I
                  learned engineering principles and practices, and gained
                  skills in Java, Microservices, Spring Boot, and SQL. I also
                  interned as a Java Full Stack Developer at Virtusa for four
                  months, where I worked on a web-based banking application
                  using Spring Boot, Angular, and Oracle. I am passionate about
                  creating innovative and user-friendly solutions that can make
                  a positive impact on the world.
                </p>

                <p>
                  Looking forward to new challenges and exciting collaborations!
                </p>
              </div>
            </div>
          </section>
          <section
            id="experience"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Work experience"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                Experience
              </h2>
            </div><div>
              <ol class="group/list space-y-12">
                {EXPERIENCE.map((experience) => <Experience {...experience} />)}
              </ol>

              <div class="mt-12">
                <a
                  class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                  aria-label="View Full Résumé"
                  target="_blank"
                  rel="noreferrer noopener"
                  href="./Software Engineer- Hariom Gehlot.pdf"
                >
                  <button
                    class="group relative inline-flex items-center justify-center overflow-hidden border-2 border-neutral-50 p-4 px-6 py-3 font-medium text-indigo-600 shadow-md transition duration-300 ease-out hover:border-4 hover:border-double"
                  >
                    <span
                      class="ease absolute inset-0 flex h-full w-full -translate-x-full items-center justify-center bg-nutral-500 text-white duration-300 group-hover:translate-x-0"
                    >
                      <svg
                        class="h-6 w-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
                      >
                    </span>
                    <span
                      class="ease absolute flex h-full w-full transform items-center justify-center text-neutral-50 transition-all duration-300 group-hover:translate-x-full"
                      >View Full Résumé</span
                    >
                    <span class="invisible relative">View Full Résumé</span>
                  </button></a
                >
              </div>
            </div>
          </section>
          <footer class="max-w-md pb-16 text-sm text-neutral-500 sm:pb-0">
            <p>
              Developed with ♥ with <a
                class="underline font-medium"
                href="https://astro.build/">Astro</a
              >
            </p>
          </footer>
        </main>
      </div>
    </div>
  </div>

  <footer class="text-center py-4 text-xs">
    {new Date().getFullYear()} All rights reserved.
  </footer>
</Layout>

<style scoped>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hero {
    background-image: url(/pattern.svg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: clip;
  }

  /*
  .hero {
    animation: fadeIn 3s;
  }
   */
</style>
